.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 20px;
  background-color: #2a4f64;
  overflow: hidden;
  box-shadow: 2px 2px 15px rgb(145, 145, 145);
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 20px;
  font-weight: 600;
  color: #f5fdff;
  padding-left: 10px;
  margin: 0;

 
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #2a4f64;;
  text-align: center;
  padding: 12px 6px;
  text-decoration: none;
  font-size: 14px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #254658;
}
