/*this styling has mostly been replaced with mui styling, but there are bits and pieces that are used*/

.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c8ecf5;
  margin: 0 0 20px;
  background-color: #2a4f64;
  overflow: hidden;
  box-shadow: 2px 2px 8px rgb(112, 111, 111);
  position: relative;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 20px;
  font-weight: 400;
  color: #e7e7e7;
  padding-left: 10px;
  margin: 0;
  align-content: center;
  
  
}

.nav-title:hover {
  
  color: #67a2b1;
}

.navLink {
  display: inline-block;
  color: #233d4d;
  background-color: #ff8c8c;
  text-align: center;
  padding: 12px 6px;
  text-decoration: none;
  font-size: 14px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  color: #5499aa;
}
